<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="card-info">
    <div class="header theme-blue-bg-color">
      <span class="back"> < </span>
      <span class="title">银行卡信息</span>
    </div>
    <div class="content">
      <div class="card theme-blue-bg-color"></div>
      <div class="action"></div>
    </div>
  </div>
</body>
</html>